<Router AppAssembly="typeof(Layout.MainLayout).Assembly">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            </ChildContent>
            <ErrorContent>
                <ErrorToast />
            </ErrorContent>
        </ErrorBoundary>
    </Found>

    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <h1>Page not found</h1>
        </LayoutView>
    </NotFound>
</Router>
