@namespace OakERP.UI.Shared
@inherits LayoutComponentBase

<nav style="background: #eee; padding: 1rem;">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink> |
    <NavLink href="/hello">Hello</NavLink>
</nav>

<div class="content p-3">
    @Body
</div>
